
html {
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
  }

  .title-text {
    font-size: 4em;

    @include media-breakpoint-up(lg) {
      font-size: 7em;
    }
  }
  
  .mb-logo {
    margin-bottom: 8em;

    @include media-breakpoint-up(lg) {
      margin-bottom: 12em;
    }
  }

  .box-accent {
    background-color: $color-accent;
    color: #fff;
  }

  .box-grey {
    background-color: $color-grey;
    color: #000;
  }

  .box-white {
    background-color: #fff;
    color: #000;
  }

  .box-black {
    background-color: #000;
    color: #fff;
  }

  .text-stands-for {
    font-weight: 600;
  }

  .typed-text-container {
    font-weight: lighter;

    #typed-text {
      display: inline;
      
      &::before {
        content:'\200B';
      }
    }
  }

  .text-contribute {
    font-size: 3em;
  }

  #circle-layer {
    position: absolute;
    background-color: $color-accent;
    z-index: 1;
    height: 100%;
  }

  #header-layer {
    position: relative;
    z-index: 2;
    color: #fff;
  }
}